---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await getCollection("blog");
---

<BaseLayout
  metaDescription="Nicholas Nassar's personal blog. Hopefully, you can learn a few new things about the wonderful world of software development."
>
  {
    posts.map((post) => {
      const slug = post.slug;
      const { title } = post.data;
      return <a href={`/blog/${slug}`}>{title}</a>;
    })
  }
</BaseLayout>
