---
import BaseLayout from "../layouts/BaseLayout.astro";
import Experience from "../components/home/Experience.astro";
import Skills from "../components/home/Skills.astro";
import Projects from "../components/home/Projects.astro";
import FullHeightSection from "../components/home/FullHeightSection.astro";
---

<BaseLayout>
  <FullHeightSection>
    <div class="text-center">
      <!-- <h1 class="text-4xl">Nicholas Nassar</h1> -->
      <img class="mx-auto rounded-full mb-5" src="https://via.placeholder.com/250" width="250" height="250" />
      <h2 class="text-3xl mb-5">Nice to meet you, I'm <span class="text-violet-500">Nicholas</span>!</h2>
      <div class="text-xl max-w-2xl mx-auto">
        <p class="mb-5">
          Passionate, diligent, and detailed. In my eleven years of programming, I have spent my time expanding my
          knowledge in both frontend and backend technologies. Much like Pepper the cat, I am a leader, and I am
          constantly looking for opportunities to advise my collegues. Recently, I've been writing compilers and build
          tools.
        </p>
      </div>
    </div>
  </FullHeightSection>
  <FullHeightSection id="experience">
    <Experience />
  </FullHeightSection>
  <FullHeightSection id="skills">
    <Skills />
  </FullHeightSection>
  <FullHeightSection id="projects">
    <Projects />
  </FullHeightSection>
</BaseLayout>
