---
import BaseLayout from "../layouts/BaseLayout.astro";
import Experience from "../components/home/Experience.astro";
import About from "../components/home/About.astro";
---

<BaseLayout>
  <div class="text-center mt-15">
    <h1 class="text-4xl">Nicholas Nassar</h1>
    <h2 class="text-3xl">Software Engineer</h2>
  </div>
  <div>
    <a href="https://github.com/niccholaspage/" target="_blank">@niccholaspage</a>
  </div>
  <div>
    <a href="mailto:nicholas@nicholasnassar.com">nicholas@nicholasnassar.com</a>
  </div>
  <About />
  <Experience />
</BaseLayout>
