---
import BaseLayout from "../layouts/BaseLayout.astro";
import Experience from "../components/home/Experience.astro";
import Skills from "../components/home/Skills.astro";
import Projects from "../components/home/Projects.astro";
import FullHeightSection from "../components/home/FullHeightSection.astro";

// Reference for nice typewriter effect:
// https://css-tricks.com/snippets/css/typewriter-effect/
---

<BaseLayout>
  <FullHeightSection>
    <div class="text-center">
      <div>
        <img class="w-64 h-64 object-cover mx-auto rounded-full mb-5" src="/images/me-small.webp" />
      </div>
      <div class="flex justify-center">
        <div>
          <h2
            class="text-3xl mx-auto mb-5 overflow-hidden tracking-[.05em] border-r-[.05em] border-r-violet-500 whitespace-nowrap animate-typing-and-blink-caret"
          >
            Nice to meet you, I'm <span class="font-bold text-violet-500">Nicholas</span>!
          </h2>
        </div>
      </div>
      <div class="text-xl max-w-2xl mx-auto">
        <p class="mb-5">
          Passionate, diligent, and detailed. In my eleven years of programming, I have spent my time expanding my
          knowledge in both frontend and backend technologies. Much like Pepper the cat, I am a leader, and I am
          constantly looking for opportunities to advise my collegues. Recently, I've been writing compilers and build
          tools.
        </p>
      </div>
    </div>
  </FullHeightSection>
  <FullHeightSection id="experience">
    <Experience />
  </FullHeightSection>
  <FullHeightSection id="skills">
    <Skills />
  </FullHeightSection>
  <FullHeightSection id="projects">
    <Projects />
  </FullHeightSection>
</BaseLayout>
