---
import { positions } from "../../data/positions";
---

<div>
  <h3 class="text-center text-4xl mb-5">Experience</h3>
  <div class="md:grid md:grid-cols-3 md:gap-3">
    {
      positions.map((position, i) => {
        const classes = ["px-4", "md:px-14", "md:relative"];

        if (i === 1) {
          classes.push(
            "md:before:content-['']",
            "md:before:w-1",
            "md:before:bg-violet-500",
            "md:before:h-full",
            "md:before:absolute",
            "md:before:top-0",
            "md:before:left-0",
            "md:before:-skew-x-6",
            "md:after:content-['']",
            "md:after:w-1",
            "md:after:bg-violet-500",
            "md:after:h-full",
            "md:after:absolute",
            "md:after:top-0",
            "md:after:right-0",
            "md:after:-skew-x-6"
          );
        }
        return (
          <div>
            <p class="text-center text-2xl">{position.title}</p>
            <p class="text-center text-xl">{position.company}</p>
            <p class="text-center text-lg mb-4">{position.time_period}</p>
            <div class={classes.join(" ")}>
              <ul class="list-disc">
                {position.bullet_points.map((bullet_point) => (
                  <li>{bullet_point}</li>
                ))}
              </ul>
            </div>
          </div>
        );
      })
    }
  </div>
</div>
