---
import { positions } from "../../data/positions";
---

{
  positions.map((position) => (
    <>
      <p>
        {position.title} at {position.company}
      </p>
      <p>{position.time_period}</p>
      <ul>
        {position.bullet_points.map((bullet_point) => (
          <li>{bullet_point}</li>
        ))}
      </ul>
    </>
  ))
}
