---
import { positions } from "../../data/positions";
---

<div>
  <!-- <h3 class="text-center text-4xl mb-5">Experience</h3> -->
  <div class="xl:grid xl:grid-cols-3 xl:gap-6">
    {
      positions.map((position, i) => {
        const classes = ["xl:px-14", "xl:relative"];

        return (
          <div class="p-5 xl:border-8 xl:border-violet-900 xl:rounded-3xl">
            <p class="text-center text-2xl">{position.title}</p>
            <p class="text-center text-xl">{position.company}</p>
            <p class="text-center text-lg mb-4">{position.time_period}</p>
            <div class={classes.join(" ")}>
              <ul class="list-disc">
                {position.bullet_points.map((bullet_point) => (
                  <li>{bullet_point}</li>
                ))}
              </ul>
            </div>
          </div>
        );
      })
    }
  </div>
</div>
