---
import { positions } from "../../data/positions";
---

<div id="experience" class="grid grid-cols-3 gap-3">
  {
    positions.map((position, i) => {
      const classes = ["relative"];

      if (i === 1) {
        classes.push(
          "before:content-['']",
          "before:w-1",
          "before:bg-violet-500",
          "before:h-[90%]",
          "before:absolute",
          "before:top-[5%]",
          "before:left-0",
          "before:-skew-x-6",
          "after:content-['']",
          "after:w-1",
          "after:bg-violet-500",
          "after:h-[90%]",
          "after:absolute",
          "after:top-[5%]",
          "after:right-0",
          "after:-skew-x-6"
        );
      }
      return (
        <div class={classes.join(" ")}>
          <p class="text-center text-2xl">{position.title}</p>
          <p class="text-center text-xl">{position.company}</p>
          <p class="text-center text-lg mb-4">{position.time_period}</p>
          <div class="px-10">
            <ul class="list-disc">
              {position.bullet_points.map((bullet_point) => (
                <li>{bullet_point}</li>
              ))}
            </ul>
          </div>
        </div>
      );
    })
  }
</div>
