---
import { positions } from "../../data/positions";
---

<div id="experience" class="grid grid-cols-3 gap-3">
  {
    positions.map((position, i) => {
      const classes = ["text-center", "relative"];

      if (i === 1) {
        classes.push(
          "after:content-['']",
          "after:w-1",
          "after:bg-violet-500",
          "after:h-[90%]",
          "after:absolute",
          "after:top-[5%]",
          "after:right-0",
          "after:-skew-x-6"
        );
      }
      return (
        <div class={classes.join(" ")}>
          <div>
            <p class="text-2xl">{position.title}</p>
            <p class="text-xl mb-4">{position.company}</p>
            <p>{position.time_period}</p>
            <ul>
              {position.bullet_points.map((bullet_point) => (
                <li>{bullet_point}</li>
              ))}
            </ul>
          </div>
        </div>
      );
    })
  }
</div>
