---
interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;

// displayTOC - Here so this gets updated as needed.
---

<div data-section data-title={title} id={id} class="min-h-[calc(100vh_-_7rem)] flex justify-center items-center">
  <slot />
</div>
