---
interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<div data-section data-title={title} id={id} class="min-h-screen flex justify-center items-center">
  <slot />
</div>
