---
import EnvelopeFill from "../../images/icons/envelope-fill.svg?raw";
import LinkedIn from "../../images/icons/linkedin.svg?raw";
import GitHub from "../../images/icons/github.svg?raw";

interface SocialIcon {
  ariaLabel: string;
  href: string;
  src: string;
}

const socialIcons: SocialIcon[] = [
  {
    ariaLabel: "GitHub",
    href: "https://github.com/niccholaspage",
    src: GitHub,
  },
  {
    ariaLabel: "LinkedIn",
    href: "https://www.linkedin.com/in/nicholasnassar/",
    src: LinkedIn,
  },
  {
    ariaLabel: "Email",
    href: "mailto:nicholas@nicholasnassar.com",
    src: EnvelopeFill,
  },
];
---

<div class="text-violet-300 flex gap-1">
  {
    socialIcons.map((socialIcon) => (
      <a
        class="hover:text-violet-100 px-1"
        aria-label={socialIcon.ariaLabel}
        href={socialIcon.href}
        target={socialIcon.href.startsWith("https") ? "_blank" : "_self"}
      >
        <Fragment set:html={socialIcon.src} />
      </a>
    ))
  }
</div>
