---
import Navbar from "../components/nav/Navbar.astro";

interface Props {
  metaDescription: string;
}

const { metaDescription } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// TODO: Set scroll padding based on whether the TOC is being shown or not.
// Either scroll-pt-16 or scroll-pt-28.
---

<html lang="en" class="scroll-pt-28 scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" sizes="any" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <title>Nicholas Nassar</title>
  </head>

  <body class="bg-zinc-200 dark:bg-zinc-900 dark:text-white pt-16">
    <header>
      <Navbar />
    </header>
    <div class="container mx-auto px-4">
      <slot />
    </div>
  </body>
</html>
