---
import NavbarLinks from "./NavbarLinks.astro";
import Logo from "../../images/logo.svg";
import { MobileMenuButton } from "./mobile/MobileMenuButton";
import { MobileMenuIcon } from "./mobile/MobileMenuIcon";
import { MobileMenu } from "./mobile/MobileMenu";
---

<nav data-header class="fixed w-full top-0 z-10 bg-violet-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <!-- TODO: Optimize this and other components to only hydrate on mobile -->
        <MobileMenuButton client:load>
          <span class="sr-only">Open main menu</span>
          <MobileMenuIcon client:load />
        </MobileMenuButton>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img width="47" height="32" class="h-8 w-auto" src={Logo} alt="Nicholas Nassar" />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <NavbarLinks mobile={false} />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <MobileMenu client:load>
    <div class="space-y-1 px-2 pt-2 pb-3">
      <NavbarLinks mobile={true} />
    </div>
  </MobileMenu>
</nav>
