---
interface Props {
  current?: boolean;
  mobile?: boolean;
  href: string;
  children: any;
}

const { current = false, mobile = false, href } = Astro.props;

let classes = "px-3 py-2 rounded-md text-sm font-medium".split(" ");

const additionalProps: Record<string, string> = {};

if (current) {
  classes = ["bg-violet-900", "text-white", ...classes];

  additionalProps["aria-current"] = "page";
} else {
  classes = ["text-violet-300", "hover:bg-violet-700", "hover:text-white", ...classes];
}

if (mobile) {
  classes.splice(classes.indexOf("text-sm"), 1);

  classes.push("text-base");
  classes.push("block");

  // Add data property so we can easily collapse the menu when
  // the user clicks on one of the links.
  additionalProps["data-mobile-link"] = "";
}
---

<a data-header-link class={classes.join(" ")} {...additionalProps} href={href}>
  <slot />
</a>
